<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">
  <div>
    <mat-list fxFlex *ngIf="selectedComments">
      <h3>Comments</h3>
      <mat-list-item *ngFor="let comment of selectedComments">
        <h3 matLine>{{comment.comment}}</h3>
        <p matLine>
            <span>{{comment.rating}} stars</span>
        </p>
        <p matLine>
          <span>--{{comment.author}} {{comment.date | date}}</span>
        </p>
      </mat-list-item>
    </mat-list>
  </div>

  <div [hidden]="selectedComments">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  
  <div>
    <form novalidate [formGroup]="commentForm" #fform="ngForm" (ngSubmit)="onSubmit()" *ngIf="selectedComments">
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="author" placeholder="Name" type="text" required>
          <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-slider matInput formControlName="rating"  min="1" max="5" step="1" tickInterval="1" required>
          <mat-error *ngIf="formErrors.rating">{{formErrors.rating}}</mat-error>
        </mat-slider>
      </p>
      <p>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12 required></textarea>
          <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
        </mat-form-field>
      </p>
      <button type="submit" [disabled]="commentForm.invalid" mat-button class="background-primary text-floral-white">Submit</button>
    </form>
  </div>
</div>


