<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <mat-list fxFlex  [@expand]>
    <mat-list-item *ngFor="let leader of leaders">
      <img matListAvatar src="{{baseURL + leader.image}}" alt={{leader.name}}>
      <h1 matLine>{{leader.name}}</h1>
      <p matLine>
        <span>{{leader.description}}</span>
      </p>
    </mat-list-item>
  </mat-list>

  <div [hidden]="leaders || errMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>
